:host {
  font-family: 'Andale Mono';
  display: flex;

  line-height: 2.5rem;
  max-width: none;
  font-size: var(--body-size);

  padding: 0;
  margin: 0;
  outline: none;
  position: relative;
  color: var(--color);

  border-bottom: 2px solid var(--on-background-color);
}

.label {
  font-size: inherit;
  position: absolute;
  display: flex;

  align-items: center;
  justify-content: center;
  color: currentColor;
  padding: 0; /*reset*/
  margin: 0; /*reset*/
  left: 0;
  top: 0;
  bottom: 0;

  line-height: inherit;
}

.label.is-active {
  height: 1px;
  width: 1px;
  left: -1px;
  overflow: hidden;
}

.input {
  display: flex;
  align-items: end;
  //justify-content: stretch;
  width: 100%;
  font-size: inherit;
  color: currentColor;
  box-sizing: border-box;

  background: transparent;
  border: none;

  line-height: inherit;

  padding: 0; /*reset*/
  margin: 0; /*reset*/
  z-index: 1000;
  outline: none;

  //border: 1px solid red;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.box-button {
  line-height: inherit;
  display: flex;
  min-width: 0;
  margin: 0 var(--unit)
}
