:root {
  /* Spacing */
  --unit: 0.5rem;
  --extra-small: calc(var(--unit) * 1);
  --small: calc(var(--unit) * 1.5);
  --medium: calc(var(--unit) * 3);
  --big: calc(var(--unit) * 4);
  --large: calc(var(--unit) * 5);
  --extra-large: calc(var(--unit) * 6);

  /* Palette */
  --background-button: hsl(159, 82%, 64%);
  --on-background-color: white;

  --on-primary-color: white;
  --primary-color: hsl(159, 82%, 64%);

  --on-secondary-color: white;
  --secondary-color: hsl(19, 94%, 82%);

  --on-tertiary-color: white;
  --tertiary-color: hsl(238, 21%, 66%);

  /* Status colors */
  --error-color: hsl(350, 100%, 57%);
  --on-error-color: white;

  --warning-color: hsl(39, 100%, 47%);
  --on-warning-color: white;

  --information-color: hsl(201, 29%, 56%);
  --on-information-color: white;

  --success-color: hsl(61, 90%, 36%);
  --on-success-color: white;

  --disabled-color: hsl(0, 0%, 72%);
  --on-disabled-color: hsl(0, 0%, 90%);

  /* Fonts */
  --body-size: 1rem;
  --subtitle-size: 11px;
  --color: white;
}
