:host {
  --background-button: var(--primary-color);
  --border-button-color: var(--on-primary-color);

  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-button);
  color: var(--color);

  border: none;
  outline: none;

  cursor: pointer;
  line-height: 2.5rem;
}

:host(.has-border) {
  border: 2px solid var(--border-button-color);
}

.btn {
  cursor: inherit;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0; /*reset*/
  padding: 0; /*reset*/
  outline: none;
  background: none;
  border: none;
  //width: 100%;

  color: currentColor;
  font-size: var(--body-size);
  line-height: inherit;

  & .value {
    padding: 0 var(--large);
  }

  &:first-child {
    border: 1px solid red;
    //margin-right: auto;
  }
}

.btn:first-child {
  display: none;
}

:host(.small) {
  .value {
    line-height: 2.5rem;

    padding: 0;
  }
}

:host(:not([disabled]):active),
:host(:not([disabled]):hover) {
  opacity: 0.6;
}
:host(:not([disabled]):focus-visible) {
  opacity: 0.6;
  outline: 2px solid var(--warning-color);
}

:host([disabled]) {
  background: var(--disabled-color);
  border: 4px solid var(--disabled-color);
  color: var(--on-disabled-color);
  cursor: not-allowed;
}
