:host {
  display: inline-flex;
  margin: auto;
  padding: 0; /* reset */
}

:host(.small) {
  width: 26px;
  height: 26px;
}

:host(.medium) {
  width: 34px;
  height: 34px;
}

:host(.large) {
  width: 42px;
  height: 42px;
}

.svg-box {
  &.primary svg {
    color: var(--primary-color);
    stroke: var(--primary-color);
    fill: var(--primary-color);
  }

  &.secondary svg {
    color: var(--secondary-color);
    stroke: var(--secondary-color);
    fill: var(--secondary-color);
  }

  &.tertiary svg {
    color: var(--tertiary-color);
    stroke: var(--tertiary-color);
    fill: var(--tertiary-color);
  }
}
