:host {
  display: block;
  margin: 0; /* reset */
  padding: 0; /* reset */

  color: currentColor;
  fill: currentColor;
  stroke: currentColor;
}

.box {
  &.small {
    width: 26px;
    height: 26px;
  }

  &.medium {
    width: 34px;
    height: 34px;
  }

  &.large {
    width: 42px;
    height: 42px;
  }
}

svg {
  width: inherit;
  height: inherit;
}
